
body {
	padding: 10px;
	background: #cbead5;
}
.card{
	box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
	
}


/*Animação*/

form{
	animation-name: fade;
	animation-duration: 3s;
}



@keyframes fade {
	from{
		
		opacity: 0;
		
	} to {
		
		opacity: 1;
		
	}
	
}
